// import MUI colors
@import "../bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$prm-color: 'brown';
$snd-color: 'teal';
$mui-primary-color:       mui-color($prm-color, '500');
$mui-primary-color-dark:  mui-color($prm-color, '700');
$mui-primary-color-light: mui-color($prm-color, '100');

$mui-accent-color:        mui-color($snd-color, 'A200');
$mui-accent-color-dark:   mui-color($snd-color, 'A400');
$mui-accent-color-light:  mui-color($snd-color, 'A100');

// import MUI SASS
@import "../bower_components/mui/src/sass/mui";
// ========================================================
// FLEX CONTENTS
// ========================================================
.mui-fcolumn,
.mui-frow {
    display: -webkit-flex;
    display: flex;
}
.mui-inline-fcolumn,
.mui-inline-frow {
    display: -webkit-inline-flex;
    display: inline-flex;
}
.mui-frow,
.mui-inline-frow {
    &.mui-freverse {
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}
.mui-fcolumn,
.mui-inline-fcolumn {
    -webkit-flex-direction: column;
    flex-direction: column;
    &.mui-freverse {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}
.mui-fcolumn,
.mui-frow,
.mui-inline-fcolumn,
.mui-inline-frow {
    &.mui-centered {
        -webkit-justify-content: center;
        justify-content: center;
    }
    &.mui-fend {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    &.mui-filled {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    &.mui-swimming {
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
}
.flex {
    -webkit-flex: 1;
    flex: 1;
}



$special-font: 'El Messiri';
.mui-appbar{
    font-family: $special-font, serif;
    padding-right: 24px;
}

body{
    background: #EEE;
    padding-bottom: 50px;
}

.card{
    background: #FFF;
    margin: 24px;
    padding: 24px;
    @extend  .mui--z1;
}

p{
    padding: 12px 0px;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 12px;
    color: #000;
    @extend .mui--bg-accent-dark;
}

a,a:visited{
    color: #303F9F;
}
