doctype html
html(lang="ar",dir="rtl",ng-app='app')
    head
        title= title
        script(src='bower_components/angular/angular.js')
        script(src='js/app.js')
        link(rel="stylesheet",href="css/style.min.css")
        link(rel="stylesheet",href="bower_components/components-font-awesome/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/css?family=El+Messiri",rel="stylesheet")
    body(ng-controller='main')
        .mui-appbar.mui-fcolumn.mui-fend
            .mui--text-display3= title
        form.card
            legend يمكّنك نقاطلس من تحويل نص عربي عادي إلى نص من غير تنقيط
            .mui-textfield
                textarea(ng-model='text',placeholder='اكٮٮ ٮصك هٮا')
        div.card 
            .mui--text-title
                i.fa.fa-magic 
                |  الٮص مں عىر ٮٮٯىط:
            p.mui--text-body2 {{ removeDots(text) }}
        div.card 
            .mui--text-title
                i.fa.fa-history 
                |  #{history}
            p.mui--text-body2
                | - #{oldestPaper}: 
                a(href='http://www.islamic-awareness.org/History/Islam/Papyri/PERF558.html') http://www.islamic-awareness.org/History/Islam/Papyri/PERF558.html
        .footer طور مں طرڡ 
            a(href='https://github.com/burawi') 
                i.fa.fa-github.fa-lg
                | ٮوراوى
            
